body {
    width: 80%;
    height: 80%;
}
.main {
display: flex;
    height: 100vh;
    flex-direction: column;
}

h1 {
	display: flex;
    justify-content: center;
    height: 10vh;
    padding: 0;
    margin: 0;
}
.map {
	display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
}
#result {
	display: flex;
    width: 305px;
    height: 5%;
    margin: 0;
    align-items: center;
    justify-content: center;
}
#mapX {
	display: flex;
    width: 65%;
    height: 90%;

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) { 
body {
-webkit-transform: rotate(90deg);
width: 100%;
height: 100%;
overflow: hidden;
position: absolute;
top: 0;
left: 0; 
}}